body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #D3D3D3 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}

p {
  line-height: 2;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  /* position is relative so if children is absolute position, it will be relative to parent*/
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}

.skill-row {

  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.bottom-cloud {
  /* position is relative to parent (top-container)*/
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.computer-img {
  /* width is 25% of parent (div skill-row in this case)*/
  width: 25%;
  float: left;
  margin-right: 35px;
}

.science-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile-img {
  max-width: 18%;
  height: auto;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.button {
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}

.button:hover {
	background:linear-gradient(to bottom, #30E3CB 5%, #2bc4ad 100%);
	background-color:#30e3cb;
}

.copyright {
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

/*
.web-skill-description {
  /*clear allows it not to float or wrap around image
  clear: left;
}

.science-skill-description {
  clear: right;
} */
